# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Optional local-only files
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plans
*.tfplan

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
